#formulaire-contact {
	width: 450px;
	display: inline-block;
	margin-left: 200px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#formulaire-contact input {
	
	width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
	
}


#formulaire-contact textarea{
		width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
	
	
}

.google {
	display: inline-block;
	width: 500px;
	height: 300px;
	vertical-align: top;
	margin-left: 100px;
	margin-top: 150px;
}

.divcontact {
	margin: 20px;
}

.divcontact button {
width: 100%;
    text-align: center;
    background-color: #008AE6;
    color: white;
    padding: 12px 20px;
    margin: 14px 0 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #ddd;
	
}

.embed-responsive-item {
	width: 500px;
	height: 300px;
}