*{
	margin:0;
	padding:0;
	font-family:Arial;
	text-decoration:none;
}

menu
{
		margin:0;
	background-color:#0099FF;
	border-bottom:6px solid #008AE6;
}

#globalmenusection
{
	width:1000px;
	margin:auto;
	display:flex;
}

#logosection{
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	flex:0.5;
}

#searchbarsection
{
	padding:10px;
	flex:4;
}

#searchbarsection input[type=text]
{
	width:90%;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:10px;
	border:4px solid #008AE6;
	padding-left:5px;
	color:#706a7c;
}

#searchbarsection input[type=submit]
{
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	background-color:#008AE6;
	color:white;
}


#search
{
    background-color: lightgray;
    margin-left: -5px;
    width: 50px;
    height: 37px;
    text-align: center;
    border: 0;
}

#categoryselect
{
    background-color: lightgray;
    margin-left: -225px;
    width:171px;
    height: 37px;
    text-align: center;
    border: 0;
    background-color:#007ACC;
    color:white;
}

#optionsection
{
	position:relative;
	text-align:center;
	display:flex;
	flex:1;
}

#optionsection p{
	width:50px;
	flex:1;
}

#optionsection p a
{
	display:block;
	padding-top:20px;
	padding-bottom:20px;
}

#optionsection p:hover
{
	background-color:#008AE6;
}

#optionsection img
{
	width:20px;
}

#optionsection a
{
	color:white;
	text-decoration:none;
}

#imgpanier
{
	position:relative;
}

#nibbler
{
	position:absolute;
	top:10px;
	left:55px;
	font-size:20px;
	color:white;
	font-weight:600;
}

#hidden
{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
    background-color: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);	
    display:none;
}

#loginRegister
{
	position:fixed;
	z-index:1000;
	top:1%;
	left:35%;
	width:500px;
	display:none;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#loginRegister section:nth-of-type(1)
{
	background-color:#0099FF;
	display:flex;
}

#loginRegister section:nth-of-type(1) section:nth-of-type(1)
{
	flex:1;
	text-align:left;
	display:flex
}

#loginRegister section:nth-of-type(1) section:nth-of-type(1) p
{
	flex:1;
}

#loginRegister section:nth-of-type(1) section:nth-of-type(1) p:nth-of-type(1)
{
	background-color:white;
}

#loginRegister section:nth-of-type(1) section:nth-of-type(1) p:nth-of-type(1) a
{
 	color:#0099FF;
}

#loginRegister section:nth-of-type(1) section:nth-of-type(1) p:nth-of-type(2) a
{
 	color:white;
}


#close
{
	flex:3;
	text-align:right;
}

#loginRegister section:nth-of-type(1) a
{
	padding:5px;
	display:block;
}

#loginRegister section:nth-of-type(2)
{
	background-color:white;
	padding:10px;
}

#loginRegister section:nth-of-type(3)
{
	background-color:white;
	padding:10px;
	min-height:350px;
}

.loginRegisterInput
{
	width:95%;
	margin-top:10px;
	display:block;
	border:1px solid #dad8de;
	color:#706a7c;
	padding:10px;
}

.loginRegisterInput:focus
{
-webkit-box-shadow: 0px 0px 7px -1px rgba(0,162,255,1);
-moz-box-shadow: 0px 0px 7px -1px rgba(0,162,255,1);
box-shadow: 0px 0px 7px -1px rgba(0,162,255,1);
}

.loginRegisterSubmit
{
	margin-top:10px;
	padding:7px;
	border-radius:3px;
	background-color:#0099FF;
	border:0;
	border-bottom:5px solid #008AE6;
	color:white;
}

.loginRegisterSubmit:focus
{
	border:0;
	margin-top:15px;
}

#close a
{
	color:white;
	font-weight:600;
}

.err
{
	margin-top:10px;
	color:#c86e6e;
	background-color:#ffe6e6;
	border:1px solid #f5c8c8;
	padding:5px;
	display:none;
	font-weight:100;
}

.valid
{
	margin-top:10px;
	color:#6ec882;
	background-color:#e6ffea;
	border:1px solid #6bca7e;
	padding:5px;
	display:none;
	font-weight:100;
}

main
{
	width:1000px;
	margin:auto;
	margin-top:10px;
}

main section:nth-of-type(1)
{
	margin-top:0px;
}

.underlineh1
{
	border-bottom:1px solid black;
}

.bluehref
{
	color:#0099FF;
	font-weight:600;
}

#loginpagefirstsection
{
	display:flex;	
	justify-content: center;
}

#loginform
{
	padding:10px;
	background-color:lightgray;
	flex:1;
}


#loginform p
{
	margin-top:10px;
}

#loginform input[type=text], #loginform input[type=password]
{
	width:300px;
	padding:10px;
}

#loginpagefirstsection section
{
	flex:1;
	padding:10px;
}

#loginform input[type=submit]
{
	padding:10px;
}

#optionsection ul
{
	position:absolute;
	top:63px;
	left:0px;
	background-color:#008AE6;
	list-style:none;
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;
	display:none;
	z-index:1000;
}

#optionsection ul li
{
	padding:10px;
}

#optionsection ul li:hover
{
	background-color:#0099FF;
}

.adminsection
{
	margin-top:20px;
	background-color:whitesmoke;
	padding:20px;
}

.adminsection p
{
	margin-top:10px;
}

.adminsection input[type=text] , .adminsection select
{
	width:97%;
	margin-top:10px;
	display:block;
	border:1px solid #dad8de;
	color:#706a7c;
	padding:10px;
}

.adminsection input[type=text]:focus , .adminsection  select:focus
{
	-webkit-box-shadow: 0px 0px 7px -1px rgba(0,162,255,1);
	-moz-box-shadow: 0px 0px 7px -1px rgba(0,162,255,1);
	box-shadow: 0px 0px 7px -1px rgba(0,162,255,1);
}

.adminsection .err
{
	width:98%;
}


.adminsection div p
{
	margin:0;
}

#manageProductSection
{
	margin-top:20px;
}

.adminsectionmanager
{
	background-color:whitesmoke;
	padding:20px;
}

.adminsectionmanager section:nth-of-type(1)
{
	display:flex;
}

.adminsectionmanager input
{
	width:100%;
}

.adminsectionmanager section:nth-of-type(1) section:nth-of-type(2)
{
	flex:0.5;
}

#productManageName
{
	margin-top:10px;
}

#productManageCategorie
{
	margin-top:10px;
}

.adminsectionmanager section:nth-of-type(1) section:nth-of-type(1)
{
	flex:2;
}

#submitstartproduct
{
	width:95%!important;
}

#interfacemanageproduct
{
	height:500px;
	background-color:white;
	border-left:1px solid grey;
	border-right:1px solid grey;
	border-bottom:1px solid grey;
	overflow:auto;
}

#interfacemanageproduct h5
{
	padding-top:250px;
	text-align:center;
}

#interfacemanageproducttable
{
	border-collapse: collapse;
}

#interfacemanageproducttable td
{
	border:1px solid black;
	border:collapse;
	text-align:center;
	width:209px;
	padding-top:5px;
	padding-bottom:5px;
}

#hiddenedit
{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
    background-color: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);	
    display:none;
}

#hiddeneditform
{
	position:fixed;
	z-index:1000;
	top:1%;
	left:35%;
	width:500px;
	display:none;
	background-color:white;
	padding:20px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#hiddeneditform input
{
	width:95%;
	margin-top:10px;
	display:block;
	border:1px solid #dad8de;
	color:#706a7c;
	padding:10px;
}

#hiddeneditform select
{
	width:95%;
	margin-top:10px;
	display:block;
	border:1px solid #dad8de;
	color:#706a7c;
	padding:10px;
}

#hiddeneditform p
{
	margin-top:10px;
}

#hiddeneditform input:focus , #hiddeneditform select:focus
{
	-webkit-box-shadow: 0px 0px 7px -1px rgba(0,162,255,1);
	-moz-box-shadow: 0px 0px 7px -1px rgba(0,162,255,1);
	box-shadow: 0px 0px 7px -1px rgba(0,162,255,1);
}

.pinloader
{
	margin:0!important;
}

#productManageCategorie
{
	width:300px!important;
}

.bluetd
{
	background-color:#008AE6;
	color:white;
	font-weight:600;
}

.whitetd
{
	background-color:white;
}

.productImageAdmin
{
	max-width:50px;
	max-height:50px;
	display:block;
	flex:1
}

#productImgSection
{
	overflow:auto;
	max-height:200px;
}

.productImageAdminSection
{
	border:1px solid #dad8de;
	margin-top:5px;
	padding:5px;
	display:flex;
}

.deleteP
{
	text-align:right;
	flex:1;
}

#ccmanage
{
	border-collapse: collapse;
	margin-top:30px;
}

#ccmanage td
{
	border:1px solid black;
	border:collapse;
	text-align:center;
	width:209px;
	padding-top:5px;
	padding-bottom:5px;
}

#pmainImagePrincipal
{
	background-color:black;
	text-align:center;
	padding:10px;
	width:520px;
	margin-bottom:5px;
}

#productglobal
{
	display:flex;
}

.g
{
	flex:1;
	margin:0!important;
}

.g:nth-of-type(1)
{
    padding-right: 10px;
}

.ing
{
	margin-top:10px;
}

.oos
{
	color:red;
	font-weight:600;
}

.emptycart
{
	font-size:32px;
}

#tab
{
	border-collapse: collapse;
	margin-top:30px;
}

#tab td
{
	border:collapse;
	border-bottom:1px solid grey;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}

#tab td a
{
	color:#008AE6;
	text-decoration:underline;
}

#tabconfirm
{
	margin-top:30px;
	width:100%;
}

#tabconfirm td
{
	border:collapse;
	border-bottom:1px solid grey;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
	padding:5px;
}

#tabconfirm td a
{
	color:#008AE6;
	text-decoration:underline;
}

#mainconfirm input[type=text]
{
	width:80px;
	margin-top:10px;
	border:1px solid #dad8de;
	color:#706a7c;
	padding:10px;
	margin-bottom:10px;
}

 #mainconfirm select
 {
	margin-top:10px;
	border:1px solid #dad8de;
	color:#706a7c;
	padding:10px;
	margin-bottom:10px;
 }

#mainconfirm input:focus , #mainconfirm select
{
-webkit-box-shadow: 0px 0px 7px -1px rgba(0,162,255,1);
-moz-box-shadow: 0px 0px 7px -1px rgba(0,162,255,1);
box-shadow: 0px 0px 7px -1px rgba(0,162,255,1);
}

#mainconfirm label
{
	margin-top:10px;
}

#globalconfirm
{
	margin-top:10px;
}

.confirmsection
{
	margin-top:20px;
	background-color:whitesmoke;
	padding:20px;
}

.confirmsection .err
{
	width:98%;
}


.confirmection div p
{
	margin:0;
}

#menubar-2 ul li{

margin: 0 auto;
font-family: Arial;
font-size: 159%;

}

#menubar-2 ul{
display: flex;
margin: 0 auto;
list-style-type: none;
}

#menubar-2 a
{
	color:white;
	font-size:18px;
}

#menubar-2{
width: 100%;
background-color: #007ACC;
}
